.privacy-wrap, .termsOfUse-wrap, .error-wrap, .aboutUs-wrap, .contactUs-wrap {
    background: #fff;
    padding: 50px;
    font-family: "Montserrat", sans-serif;
}

.error-wrap {
    padding-block: 300px;
}

h1 {
    font-size: 40pt;
    margin-bottom: 24px;
}

h1.error {
    font-size: 80pt;
    text-align: center;
    color: red;
    text-shadow: 5px 5px 2px black;
}

h1.workers, h1.cooperations {
    margin-top: 20px;
}

p, h2, .contact {
    font-size: 15pt;
    text-align: justify;
    max-width: 1200px;
    margin: auto;
}

h2.contacts {
    font-size: 30pt;
    font-weight: 800;
    margin-block: 15px;
}

.contact {
    display: flex;
    align-items: center;
    gap: 8px;
}

@media only screen and (max-width: 768px) {
    h1.error {
        font-size: 12vw;
    }
  }