.cards {
    padding: 4rem;
  }

  .home, .products, .careers {
    background: #fff;
  }
  
  h1 {
    text-align: center;
    font-weight: 700;
  }

  .products h1 {
    font-size: 40pt;
  }
  
  .cards_container {
    display: flex;
    flex-flow: column;
    align-items: center;
    max-width: 2100px;
    width: 90%;
    margin: 0 auto;
  }
  
  .cards_wrapper {
    position: relative;
    margin: 50px 0 45px;
  }
  
  .cards_items {
    margin-bottom: 24px;
  }
  
  .cards_item {
    display: flex;
    flex: 1;
    margin: 0 1rem;
    border-radius: 10px;
    background-color: #fff;
  }
  
  .cards_item_link {
    display: flex;
    flex-direction: column;
    width: 100%;
    box-shadow: 0 6px 20px rgba(56, 125, 255, 0.25);
    -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.04));
    filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.04));
    border-radius: 10px;
    overflow: hidden;
    text-decoration: none;
  }

  .cards_item_link.full {
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .cards_item_img_wrap {
    position: relative;
    width: 100%;
    padding-top: 67%;
    overflow: hidden;
  }

  .cards_item_img_wrap.full {
    flex: 1;
    padding-top: 0;
    min-width: 300px;
    width: 100%;
    min-height: 300px;
  }
  
  .cards_item_img_wrap.after::after {
    content: attr(data-category);
    position: absolute;
    bottom: 0;
    left: 0;
    margin-left: 10px;
    padding: 6px 8px;
    max-width: calc((100%) - 60px);
    font-size: 12px;
    font-weight: 700;
    color: #fff;
    background-color: #1f98f4;
    box-sizing: border-box;
  }
  
  .cards_item_img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    object-fit: cover;
    transition: all 0.2s linear;
  }
  
  .cards_item_img_wrap.hover:hover .cards_item_img {
    transform: scale(1.1);
  }
  
  .cards_item_text_wrap {
    padding: 20px 30px 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .cards_item_text_wrap.full {
    flex: 1;
    min-width: 200px;
    min-height: 100px;
  }
  
  .cards_item_text {
    display: block;
    color: #252e48;
    font-size: 18px;
    line-height: 24px;
  }

  .cards_item_title {
    font-weight: 800;
  }
  
  @media only screen and (min-width: 1200px) {
    .content_blog_container {
      width: 84%;
    }
  }
  
  @media only screen and (min-width: 1024px) {
    .cards_items {
      display: flex;
    }
  }
  
  @media only screen and (max-width: 1024px) {
    .cards_item {
      margin-bottom: 2rem;
    }
  }