.circle_cards {
  padding: 4rem;
}

h1 {
  text-align: center;
  font-weight: 700;
}

.circle_cards_container {
  display: flex;
  flex-flow: column;
  align-items: center;
  max-width: 2100px;
  width: 90%;
  margin: 0 auto;
}

.circle_cards_wrapper {
  position: relative;
  margin: 50px 0 45px;
}

.circle_cards_items {
  margin-bottom: 24px;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.circle_cards_item {
  display: flex;
  flex: 1;
  border-radius: 10px;
  background-color: #fff;
  margin: 0;
}

.circle_cards_item.shrink {
  max-width: 300px;
}

.circle_cards_item_wrap {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  box-shadow: 0 6px 20px rgba(56, 125, 255, 0.25);
  -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.04));
  filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.04));
  border-radius: 250px;
  overflow: hidden;
  text-decoration: none;
}

.circle_cards_item_img_wrap {
  position: relative;
  flex: 1;
  padding-top: 0;
  min-width: 300px;
  max-width: 300px;
  width: 100%;
  min-height: 300px;
  overflow: hidden;
  border-radius: 50%;
  border: 2px dashed #707070;
}

.circle_cards_item_img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  object-fit: scale-down;
  transition: all 0.2s linear;
}

.circle_cards_item_text_wrap {
  padding: 20px 30px 30px;
  display: flex;
  flex-direction: column;
  justify-content: left;
  flex: 1;
  min-width: 200px;
  min-height: 100px;
  gap: 10px;
}

.circle_cards_item_text {
  display: block;
  color: #252e48;
  font-size: 18px;
  line-height: 24px;
  margin: 0;
}

.circle_cards_item_title {
  font-weight: 800;
}

@media only screen and (min-width: 1024px) {
  .circle_cards_items {
    display: flex;
  }
}

@media only screen and (max-width: 1024px) {
  .circle_cards_item {
    margin-bottom: 2rem;
  }
}